*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* @import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata
); */



/* Netflix Api key AIzaSyBu7r0ODNPYkBM2_5vxw3HB8kPWGNBtq2k */





/* :root{
   ---font-base: 'lexend'
}  */




/* body{
    background-color:#fff;
} */